@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Food N' Stuff Inventory Log</h1>
    <p class="lead">Food N' Stuff: Where you buy all of your food and most of your stuff!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create Customers</h2>
        <p>
            This page will give you access to create new customer information. They will then have an ID number assigned to help you see who has purchased what items.
        </p>
        <p><a class="btn btn-default" href="~/Views/Customer/Create.cshtml">Create</a></p>
    </div>
    <div class="col-md-4">
        <h2>Products</h2>
        <p>Here you can Create, List, Edit, and Remove product types from your inventory.</p><br />
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Manage Products</a></p>
    </div>
    <div class="col-md-4">
        <h2>Transactions</h2>
        <p>Manage your existing transactions or add new! Here you can handle all of your transactional needs!</p><br />
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Transaction Handling</a></p>
    </div>
</div>